@import './base.css';
@import "tailwindcss";
/* @plugin "daisyui"; */


@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
  }
}




/* 1. Explicitly enable the .dark class selector */
/* @custom-variant dark (&:where(.dark, .dark *)); */

@layer base {
  :root {
    color-scheme: light;
    /* Helps browser UI match theme */
    /* --scrollbar-track: #f1f1f1; */
    --scrollbar-thumb: #d1d5db;
    --scrollbar-thumb-hover: #9ca3af;
  }

  /* 2. Update variables using the new @variant directive */
  @variant dark {
    :root {
      color-scheme: dark;
      --scrollbar-track: #101828;
      --scrollbar-thumb: #1e2939;
      --scrollbar-thumb-hover: rgba(30, 41, 57, 0.6);
    }
  }
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

.btn-icon {
  @apply p-2 rounded-lg bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 transition-colors text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600;
}

.btn-queue {
  @apply text-sm font-medium text-gray-50 bg-black dark:bg-gray-100 dark:hover:bg-gray-100/70 dark:text-gray-900 py-1 px-2 rounded-lg;
}
